*{
    padding: 0;
    margin: 0;
}
/**nav**/

.nav{
background-color: #003049;
color: white;
font-weight: 800;
display: flex;
justify-content: center;
align-items: center;
border-bottom: 0.3px solid white;
padding: 1rem 0rem;
width: 100%;

}
.h1{
    box-shadow: 5px 5px 10px black;
    border-radius: 0.5rem ;
    border: 4px solid grey;
    background-color: #197278;

}
h1{
    margin: 0rem 1rem;
    text-shadow: 2px 2px 2px black ;
    font-size: 3rem;
    
}
/**game area**/

main{
    background-color: #0d3b66;
    text-align: center;
    padding-bottom: 20px;
    width: 100%;
}

.container{
    height: 78vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    
   
}

.gamecontainer{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5vmin;
    box-shadow:  0 0 1rem #000;
    padding: 1rem;
    border-radius: 1rem;
    border: 4px solid grey;
    background-color: #f4d35e;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    font-size: 10vmin;
    border: none;
    
    box-shadow: inset 0 0 1rem  ;
    background-color: #fdf0d5;
    color: #c1121f;
    font-weight: 600;
}

.reset{
    background-color: #003049;
    border: 2px solid grey;
    border-radius: 1rem;
    padding: 0.8rem;
    font-size: 1.1rem;
    color: white;
    box-shadow: 0 0 1rem rgba(0, 0, 5,1);
    
} 

/**foot**/

.foot{
    height: 60px;
    background-color: #003049;
    color: #fdf0d5;
    text-align: center;
    border-top: 0.5px solid white;
    padding-top: 20px;

}

/** msg**/

.msgcontainer{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem ;
    background-color: #669bbc;
    flex-direction: column;
    transition: all 2s;
    width: 100%;
 
}

#msg{
    font-size: 10vmin;
    color: gold;
    font-weight: 700;
    text-shadow: 4px 4px 5px black;
    padding: 4rem;

}

#newbtn{
    background-color: #003049;
    border: 2px solid grey;
    border-radius: 1rem;
    padding: 0.8rem;
    font-size: 1.1rem;
    color: white;
    box-shadow: 0 0 1rem grey;
    
    

}

.hide{
    display: none;
}